<h1><%= @line.name %></h1>

<% @line.stations.each do |stop| %>
  <li> <%= stop.name %> </li>
<% end %>

<%= link_to 'Update Line', edit_line_path, :class => "btn btn-warning" %>
<%= link_to 'Delete Line', line_path, :method => 'delete', :class => "btn btn-danger" %>
<%= link_to 'Back to Lines', lines_path, :class => "btn btn-primary" %>
