<h1><%= @station.name %></h1>

<% @station.lines.each do |stop| %>
  <li> <%= stop.name %> </li>
<% end %>

<%= link_to 'Update Station', edit_station_path, :class => "btn btn-warning" %>
<%= link_to 'Delete Station', station_path, :method => 'delete', :class => "btn btn-danger" %>
<%= link_to 'Back to Stations', stations_path, :class => "btn btn-primary" %>
