<%= form_for(object) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
     <%= render('layouts/errors', :object => @line) %>
  </div>
  <%= f.submit(:class => "btn btn-success") %>
<% end %>
