<!DOCTYPE html>
<html>
<head>
  <title>Bus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

  <div style="background-color:green; color:white; text-align:center">
  <%= flash[:notice] %>
  </div>
  <div style="background-color:orange; color:white; text-align:center">
  <%= flash[:alert] %>
  </div>

  <%= yield %>

</div>
</body>
</html>
